body {
    background-color: aquamarine;
}

.naruto {
	margin: 20px;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

label {
	margin: 35px;
}

input[type="number"] {
	padding: 15px;
	border-radius: 45px;
	border: none;
	margin-bottom: 10px;
    color: purple;
}

button {
	padding: 10px;
	background-color: green;
	color: red;
	border: none;
	border-radius: 5px;
	margin-top: 10px;
	cursor: pointer;
}

#output {
	margin-top: 20px;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}
